/*load fonts*/

@font-face {
  font-family: 'Airbnb Cereal';
  src: url('../fonts/AirbnbCereal-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal';
  src: url('../fonts/AirbnbCereal-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons';
  src: url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/*material icon*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

* {
  margin: 0;
  padding: 0;
  transition: .2s;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color-text);
  font-family: "Airbnb Cereal", sans-serif;
  /*box-shadow: 0 0 0 1px red;*/
}

:root {
  --color-theme: #bf9b30;
  --color-text: #333333;
  --color-black-hover: #5d5b5b;
  --color-white: #ffffff;
  --color-white-hover: #efefef;
  --color-black: #333333;
  --color-theme-hover: #ecc44a;
  --color-green: green;
  --color-theme-hover2: #f3cf63;
}

html {
  height: -webkit-fill-available;
}

body {
  position: relative;
  min-height: 100vh;
  min-height: -webkit-fill-available;


}

img {
  width: 100%;
}

body {
  background-color: var(--color-white);
}

a {
  color: var(--color-theme);
}

header {
  position: fixed;
  width: 100%;
  z-index: 9;
}

#install-banner {
  position: absolute;
  /*position: fixed;*/
  bottom: 0;
  display: none;
  width: 15rem;
  text-align: center;
  padding: 1rem;
}

a.btn,
button.btn {
  background-color: var(--color-theme);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-black) !important;
  cursor: pointer;
  border-radius: 4px;
  -webkit-user-select: none;
  border: none;
  padding: 0.5rem;
}

a.btn:hover,
button.btn:hover {
  background-color: var(--color-theme-hover) !important;
  /*transform: scale(1.02);*/
}

[class*='nav'] {
  -webkit-user-select: none;
}

.nav-desktop-wrapper {
  display: none;
}

.nav-desktop-wrapper {
  justify-content: space-between;
  height: 50px;
  background-color: var(--color-black);
}

.nav-desktop-wrapper a {
  color: var(--color-white);
}

.nav-desktop-wrapper a:hover {
  background-color: var(--color-theme);
}

.nav-desktop-wrapper a:hover i {
  color: var(--color-text);
}

.nav-desktop-wrapper>a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
  padding: 0 1rem;
  letter-spacing: 1px;
  line-height: 50px;
}

.nav-desktop-wrapper ul {
  display: flex;
  list-style-type: none;
}

.nav-desktop-wrapper ul li a {
  display: block;
  padding: 0 1rem;
  line-height: 50px;
}

.nav-desktop-wrapper ul li a i {
  color: var(--color-theme);
  display: block;
  line-height: 50px;
}

#blocker {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
}

#blocker.show {
  opacity: 0.8;
  pointer-events: all;
}

.sidenav {
  height: 100%;
  /*width: 0;*/
  width: 15rem;
  position: fixed;
  z-index: 11;
  /*padding-bottom: 6rem;*/
  top: 0;
  /*left: 0;*/
  left: -15rem;
  overflow-x: hidden;
  background-color: var(--color-black);
}

.sidenav ul {
  height: calc(100% - 5.3125rem);
  overflow: auto;
}

.sidenav.show {
  /*width: 15rem;*/
  box-shadow: 10px 0px 20px 0 rgba(0, 0, 0, .2);
  left: 0;
}

.sidenav .img-wrapper {
  padding: 2rem;
  text-align: center;
}

.sidenav img {
  width: 60%;
}

a.cart {
  position: relative;
}

.cart span {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: block;
  background-color: red;
  padding: 0.5rem 0.25rem;
  font-size: small;
  line-height: 0rem;
  height: 1rem;
  border-radius: 50%;
  font-weight: bold;
  color: var(--color-white);
}

.sidenav a {
  color: var(--color-white);
  display: block;
  padding: 1rem;
  width: 100%;
}

.sidenav a:hover {
  color: var(--color-text);
  background-color: var(--color-theme);
}

.nav-mobile-wrapper {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: var(--color-black);
}

.nav-mobile-wrapper a {
  color: var(--color-white);
}

.nav-mobile-wrapper a:hover {
  background-color: var(--color-theme);
  color: var(--color-text);
}

.nav-mobile-wrapper a:hover i {
  color: var(--color-text);
}

.nav-mobile-wrapper>a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: large;
  padding: 0 1rem;
  line-height: 50px;
}

.nav-mobile-wrapper a {
  display: block;
  padding: 0 1rem;
  line-height: 50px;
  cursor: pointer;
}

.nav-mobile-wrapper a i {
  color: var(--color-theme);
  display: block;
  line-height: 50px;
}


footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

main {
  padding-top: 50px;
  padding-bottom: 40px;
}

footer {
  background-color: var(--color-black);
  text-align: center;
  font-size: small;
  height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

footer>* {
  color: var(--color-white);
  line-height: 40px;
  margin: 0 !important;
}

footer i {
  display: block !important;
  padding: 0 2px;
  font-size: small !important;
  color: red;
  line-height: 42px !important;
}

.lds-grid {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  background: var(--color-black);
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {

  0%,
  49% {
    /*opacity: 1;*/
    background-color: var(--color-black);
  }

  50%,
  100% {
    background-color: var(--color-theme);
    /*opacity: 0.5;*/
  }
}

@media screen and (min-width: 700px) {
  .nav-desktop-wrapper {
    display: flex;
  }

  .nav-mobile-wrapper {
    display: none;
  }
}

.container {
  padding: 1rem;
  max-width: 640px;
  margin: auto;
}

/*page home*/
.hero {
  height: 10rem;
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: xx-large;
  padding: 1rem;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.overlay p {
  color: var(--color-white);
  margin: 0;
}

.cat-wrapper {
  margin-bottom: 1rem;
}

.cat-wrapper:not(:first-child) {
  margin-top: 2rem;
}

.cat-head {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.cat-head:hover {
  padding: 1rem;
  background-color: var(--color-theme);
}

span.cat-more i {
  font-size: xx-large;
  display: block;
}

.cat-title {
  font-weight: bold;
  font-size: x-large;
}

a.cat-more i {
  font-size: xx-large !important;
}

.item-wrapper {
  position: relative;
  /*width: 10rem;*/
  /*margin-right: 1rem;*/
}

a.item {
  display: block;
  /*width: 10rem;*/
  /*margin-right: 0.5rem;*/
  /*box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.6);*/
  border-radius: 4px;
}

.cat-item-list {
  display: grid;
  /*margin-top: 1rem;*/
  grid-template-columns: repeat(2, calc(50% - 0.375rem));
  grid-gap: 0.75rem;
}

.item-add a.btn {
  width: 100%;
  display: block;
  height: 40px;
  padding: 0.5rem;
  text-align: center;
}

.item-name {
  font-size: large;
  padding: 0.5rem;
}

.item-price {
  font-weight: bold;
  color: green;
  padding: 0 0.5rem 0.5rem;
  font-size: small;
}

.item-thumbnail {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  position: relative;
}

.item-add {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 1;
}



.item-thumbnail img {
  display: block;
}

/* toast */
.toast {
  position: fixed;
  bottom: -53px;
  background-color: var(--color-black);
  width: 100%;
  z-index: 8;
  display: flex;
  justify-content: space-between;
}

.toast.show {
  bottom: 0;
}

.toast-msg {
  color: var(--color-white);
  padding: 1rem;
}

.toast-action {
  display: flex;
}

button:focus {
  outline: none;
}

.toast-action-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast-close .btn-clear {
  /* width: 40px; */
  /* height: 40px; */
  width: 34px;
  height: 34px;
  padding: 0;
  line-height: 50px;
}

.btn-clear {
  background-color: unset !important;
  border: none;
  font-weight: bold;
  color: var(--color-white) !important;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 4px;
  -webkit-user-select: none;
}

.btn-clear>i {
  color: var(--color-white);
}

.toast-close {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-clear:hover {
  background-color: var(--color-black-hover) !important;
}

.product-image {
  position: relative;
}

h3.product-price {
  margin: 0;
}

.top-bar {
  position: absolute;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.stock-availability {
  background-color: green;
  color: var(--color-white);
  border-radius: 4px;
  padding: 0 1rem;
  /* line-height: 40px; */
  align-items: center;
  display: flex;
}

.stock-availability * {
  color: var(--color-white);
  /* line-height: 40px; */
  display: block;
}

.stock-availability span {
  margin-right: 10px;
}

.product-image img {
  display: block;
  border-radius: 4px;
}

h2.product-name {
  padding: 1rem 0 0.5rem;
}

h3.product-price {
  color: green;
  /* padding: 0.5rem 0; */
}

p.product-desc {
  padding-top: 1rem;
  margin-bottom: 10px;
}

.bottom-bar {
  position: fixed;
  z-index: 7;
  background-color: var(--color-black);
  display: grid;
  width: 100%;
  left: 0;
  height: 50px;
  bottom: 0;
  grid-template-columns: auto 42px 42px 50px;
}

.add-to-cart-btn {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav-btn,
.share-btn {
  width: 42px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add-to-cart-btn .btn,
.fav-btn .btn,
.share-btn .btn {
  width: 34px;
  height: 34px;
  padding: 0;
  line-height: 50px;
}

.buy-btn .btn {
  width: 100%;
  height: 100%;
}

.buy-btn {
  padding: 8px 0 8px 8px;
}

/*all page*/
.top-bar-page {
  display: flex;
}

button.btn.back-btn {
  margin-right: 1rem
}

button.btn.back-btn i {
  display: block;
  width: 100%;
  height: 100%;
}

ul.cat-links {
  list-style-type: none;
  margin-top: 1rem;
}

li.cat-link {
  margin-bottom: 0.5rem;
}

li.cat-link a {
  background-color: var(--color-theme);
  border-radius: 4px;
  display: flex;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
}

li.cat-link a h3 {
  margin: 0;
}

li.cat-link a span {
  display: block;
}


/*li.cat-link a:hover {
    background-color: #f3cf63;
}*/
.ripple {
  background-position: center;
  transition: background 0.2s;
}

.ripple:hover {
  background: var(--color-theme-hover) radial-gradient(circle, transparent 1%, var(--color-theme-hover) 1%) center/15000%;
}

.ripple:active {
  background-color: var(--color-theme-hover2);
  background-size: 100%;
  transition: background 0s;
}

/*cat all item*/
.cat-all-item-list {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(2, calc(50% - 0.375rem));
  grid-gap: 0.75rem;
}

.cat-all-item-list .item-wrapper {
  margin: 0;
  width: unset;
}

.cat-all-item-list .item-wrapper a {
  width: unset;
  margin: 0;
}

/* all static page*/
.static-wrapper {
  margin-top: 1rem;
}

p {
  margin: 1rem 0;
}

ul {
  list-style-type: none;
}

ol {
  margin-inline-start: 2rem;
}

blockquote {
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  background-color: var(--color-white-hover);
}

div#map {
  margin-top: 1rem;
  width: 100%;
  height: 400px;
  border-radius: 4px;
}

div#openMap {
  margin-top: 1rem;
  width: 100%;
  height: 400px;
  border-radius: 4px;
  overflow: hidden;
}

a.btn.full.with-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

h3 {
  margin: 1rem 0 0.5rem 0;
}

svg {
  width: 22px;
  height: 22px;
  fill: var(--color-black);
}

p.app {
  text-align: center;
  margin-top: 3rem;
  color: var(--color-black-hover);
}

/*cart item*/

.wrapper {
  margin-top: 1rem;
  padding-bottom: 8rem;
}

.cart-item {
  margin-bottom: 0.75rem;
  display: flex;
  border-radius: 4px;
  background-color: var(--color-white-hover);
}

.top-sec {
  display: grid;
  grid-template-columns: auto 50px;
}

.bot-sec {
  display: flex;
  justify-content: space-between;
}

.bot-sec {
  display: flex;
}

.item-detail-wrapper {
  width: 100%;
}

.del-btn-wrapper i {
  color: var(--color-black);
}

.del-btn-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prod-name-wrapper {
  padding-left: 1rem;
  font-size: larger;
}

.del-btn-wrapper button.btn-clear {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prod-name-wrapper p {
  margin-bottom: 0;
}

.price-wrapper * {
  padding-right: 1rem;
  color: var(--color-green);
  font-weight: bold;
}

.price-wrapper {
  display: flex;
  align-items: flex-end;
}

form.qty .btn {
  width: 2rem;
  height: 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.qty {
  padding: 1rem;
  display: flex;
}

form.qty input {
  width: 3rem;
  height: 2rem;
  border: none;
  text-align: center;
  display: block;
  font-size: large;
}

.img-wrapper {
  width: 5rem;
}

.cart-item .img {
  background-position: center;
  width: 7rem;
  border-radius: 4px 0 0 4px;
  background-size: cover;
}

.del-btn-wrapper .btn-clear.light:hover {
  background-color: var(--color-white) !important;
}

button.btn.plus-btn {
  border-radius: 0 4px 4px 0;
}

button.btn.minus-btn {
  border-radius: 4px 0 0 4px;
}

/*shadow for all*/
header,
.toast,
a.item,
.cart-item {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

a.item:hover,
.cart-item:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 9px -2px rgba(0, 0, 0, 0.12), 0 1px 7px 0 rgba(0, 0, 0, 0.2);
}

/*keranjang*/
.bot-bar {
  background-color: var(--color-black);
  /* color: var(--color-white); */
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 3;
  bottom: 0;
  padding: 1rem;
}

.subtotal-wrapper * {
  color: var(--color-white);
  margin: 0;
}

.subtotal-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtotal-wrapper h2 {
  /* color: var(--color-green); */
}

.checkout-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

/*pulse :3*/
.pulse {

  position: relative;
  box-shadow: 0 0 0 0 var(--color-theme);
  -webkit-animation: pulse 1s infinite cubic-bezier(0.24, 0, 0.38, 1);
  -moz-animation: pulse 1s infinite cubic-bezier(0.24, 0, 0.38, 1);
  -ms-animation: pulse 1s infinite cubic-bezier(0.24, 0, 0.38, 1);
  animation: pulse 1s infinite cubic-bezier(0.24, 0, 0.38, 1);
}

.pulse:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
  }
}

@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
  }
}